.menuNav {
    background-color: black;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.77);
    box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.77);
    z-index: 3;
    padding: 0 10px;
}

.menuNav h4 {
    font-size: 1.2rem;
}

.menu1 {
    width: 100%;
    height: 90%;
    max-height: 90%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuButton:hover {
    color: red;
    cursor: pointer;
}
.selectedMenu {
    font-size: 3vh;
    color: red;
}

.textMenu {
    font-size: 3vh;
}
.textMenu:hover {
    color: red;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    height: 90%;
}
.carousel-container .carousel-inner {
    height: 100%;
}
.item-container {
    width: 100%;
    height: 100%;
}
.item-container img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
