#card-container {
    margin: 10px;
    padding: 20px;
    background-color: #222126;
    color: white;
    min-height: 15rem;
    display: flex;
    align-items: center;
}

#card-container .item-info {
    margin-top: 45px;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 100%;
    width: 70%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-container .item-info .info-header {
    width: 100%;
    height: 60%;
    background: transparent;
}

#card-container .item-info .info-header .taste-ml {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card-container .item-info .info-footer {
    margin-top: 30px;
    width: 100%;
    height: 40%;
    background: transparent;
    color: #9c9180;
    font-size: 1.7rem;
}
