* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Frank Ruhl Libre", serif; */
}

#root {
    height: 100%;
}

html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.public {
    height: auto;
    background-image: url(/public/background.jpg);
    width: 100%;
}

/* nav section */

.nav {
    font-family: "Cinzel", serif !important;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    color: #6d6a63;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav .nav-item {
    text-transform: uppercase;
    margin-right: 1.5rem;
}

.nav .nav-item:hover {
    color: #a37a3d;
    cursor: pointer;
}

/* .dropdown-toggle {
    padding: 0 !important;
    color: #6D6A63 !important
  } */

/* Dropdown Button */
.dropbtn {
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-top: 2px solid #a37a3d;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.border {
    border-bottom: 1px solid black;
    width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #a37a3d;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-container h6 {
    margin-right: 10px;
}

.brand-logo {
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
/* end nav section */

/* footer section */
#footer {
    width: 100%;
    height: auto;
    background: transparent;
    margin-top: 2rem;
    font-family: "Cinzel", serif !important;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    color: #6d6a63;
}

#footer .footer-info {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#footer .footer-info .detail {
    width: 43%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}

#footer .footer-info .detail div {
    width: 200px;
    word-wrap: break-word;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem;
}

#footer .footer-info .detail div:hover {
    color: #a37a3d;
    cursor: pointer;
}

#footer .footer-info .info div {
    width: 300px;
    word-wrap: break-word;
}

#footer .footer-info .info div.reservations,
#footer .footer-info .info .reservations {
    color: #a37a3d;
}

#footer .footer-info .info div:nth-child(1) {
    margin-bottom: 10px;
}

#footer .footer-copyright {
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* end footer section */
